{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Inicio
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<span class="col-12 d-flex justify-content-center align-items-center" style="min-height: 100vh; font-size:72px; font-weight:500;">¡Bienvenido!</span>
</div>
</div>
{% endblock %}
